.booking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid;
    font-size: 20px;
    background-color: #222; /* Dark background */
    font-family: Arial, sans-serif;
    color: #ddd; /* Light text for readability */
    gap: 7vw;
}

.booking span {
    text-align: center;
    white-space: nowrap;
}

.booking strong {
    color: #fff; /* White text for contrast */
}

.booking.pending {
    border-color: #ffb804; /* Grey border */
    background-color: #262629; /* Dark grey background */
}

.booking.pending:active {
    background-color: rgb(129, 124, 124); /* Darker yellow when pressed */
    box-shadow: 0 0 15px 4px rgb(248, 199, 10);
    transform: scale(0.95); /* Slightly shrink the button */
}

.booking.pending:hover {
    box-shadow: 0 0 10px 2px rgba(255, 196, 0, 0.82);
}

.booking.used {
    border-color: #c0392b; /* Red border */
    background-color: #3d1e1e; /* Dark red background */
}

.booking.used:active {
    background-color: rgb(182, 79, 79); /* Darker yellow when pressed */
    box-shadow: 0 0 15px 4px rgba(255, 47, 0, 0.87);
    transform: scale(0.95); /* Slightly shrink the button */
}

.booking.used:hover {
    box-shadow: 0 0 10px 2px rgb(175, 5, 5);
}

.error-message {
    border-color: #c0392b; /* Red border */
    background-color: #3d1e1e; /* Dark red background */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}


.status {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.pending .status {
    background-color: #bdc3c7; /* Grey status */
}

.used .status {
    background-color: #c0392b; /* Red status */
}