.container {
    background-color: #1e1e1e;
    padding: 1.25rem;
    border-radius: 0.625rem;
    width: max-content;
    margin: auto;
    text-align: center;
}

.register-button {
    cursor: pointer;
    font-size: 1rem;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.register-button:hover {
    color: #009dff;
}