.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 0.3125rem solid #f3f3f3; /* Light grey */
  border-top: 0.3125rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 3.125rem; /* 50px converted to rem */
  height: 3.125rem; /* 50px converted to rem */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
